*.bin
*.asv 
*.mpf 
*.mti 
*.bak

Checked/experiment.m
Checked/pp_*

modelsim/
docs/
Checked/unused/
Checked/paperwork/
alib-52/
ddc/

default.svf
filenames.log
command.log
syslogtemp
